<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.covas.admon.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />
	
    <!--  JPUSH 관련 퍼미션 -->
    <permission 
        android:name="com.covas.admon.android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.covas.admon.android.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    
    <!-- -> GCM 관련 퍼미션 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission 
        android:name="com.covas.admon.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.covas.admon.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- <- GCM 관련 퍼미션--> 
	
	
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    
    
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:clearTaskOnLaunch="true"
        android:label="@string/app_name"
        android:launchMode="standard"
        android:screenOrientation="portrait" 
        android:theme="@android:style/Theme.Light.NoTitleBar" 
        android:configChanges="orientation|screenSize|keyboardHidden"  >
        <activity
            android:name="com.covas.admon.android.MainAct"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        <!-- GCM 관련 리시버, 서비스 -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.covas.admon.android" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
    	<!-- GCM 관련 리시버, 서비스 -->
        
        
        <activity android:name="com.covas.admon.android.begin.Intro" 						android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.begin.BeginMain" 				android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.begin.BeginAct" 					android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.begin.LoginAct" 					android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.join.JoinAct_ID" 					android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.join.JoinAct_phone" 				android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.join.JoinAct_age" 				android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.join.JoinAct_address" 			android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.join.JoinAct_email" 				android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.join.JoinAct_pwd" 				android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        
        <!-- mypage -->
        <activity android:name="com.covas.admon.android.mypage.MyPageAct_Main"	 	android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.mypage.ModifyAct_address" 	android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.mypage.ModifyAct_age"	 	android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.mypage.ModifyAct_email"	 	android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.mypage.ModifyAct_phone"	 	android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.mypage.ModifyAct_pwd"	 	android:theme="@android:style/Theme.Light.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        
        
        
        <activity android:name="com.covas.admon.android.help.Help"				 			android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        
        <activity android:name="com.covas.admon.android.web.BuyInfoAct"	 				android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.web.NoticeAct"	 				android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.web.PointInfoAct"	 			android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        <activity android:name="com.covas.admon.android.web.ProductDetailAct"			android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|screenSize|keyboardHidden" android:screenOrientation="portrait" />
        
        <!-- WeChat -->
        <activity android:name=".wxapi.WXEntryActivity"  android:label="@string/app_name" android:exported="true" />
        
        
        
        <!--  JPUSH -->
        
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.covas.admon.android" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
 
        
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.covas.admon.android" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        
        
		
        
        <!-- User defined.    用户自定义的广播接收器-->         
        <receiver
            android:name="com.covas.admon.android.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.covas.admon.android" />
            </intent-filter>
        </receiver>
        
        
        
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="98b370f99d96fea63c88d8fb" /> <!--  </>值来自开发者平台取得的AppKey-->
        
        
        
    </application>
    
    
    

</manifest>
